PORT=3001


RABBITMQ_URL=amqp://guest:guest@host:port
RABBITMQ_USER_QUEUE=user


WEBHOOK_UNIQUE_URL=https://webhook.site/453e750e-1cee-424a-bda8-d16b7deed818


BULLBOARD_ENABLED=true
BULLBOARD_PATH=/queues

