PORT=3001


RABBITMQ_URL=amqp://guest:guest@host:port
RABBITMQ_USER_QUEUE=user


WEBHOOK_UNIQUE_URL=https://webhook.site/id


REDIS_HOST=host
REDIS_PORT=6379


BULLBOARD_ENABLED=true
BULLBOARD_PATH=/queues

